.head_new {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 5px;
  border-bottom: 2px solid rgba(0, 162, 255, 0.247);
}

.head_new span {
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.content__xx h5 {
  margin: 5px 0;
}

.content_new {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
  margin: 15px 0;
  gap: 0 5px;
  padding: 5px 5px;

  align-items: center;
}

.content_new span {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
  font-weight: 600;
}

.loading__tb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.show_element {
  padding: 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  justify-content: right;
  text-align: right;
}

.show_element select {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 1px solid grey;
  vertical-align: top;
  width: 80px;
  height: 25px;
  background-color: transparent;
  pointer-events: auto;
  border-radius: 8px;
  padding-left: 5px;
  padding-top: 2px;
}

.show_element span {
  padding-left: 10px;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
}
/* media screen < 900px */
@media only screen and (max-width: 900px) {
  .head_new {
    display: grid;
    grid-template-columns: repeat(8, minmax(70px, 12%));
    align-items: center;
    width: 100%;
    margin-top: 30px;
    border-bottom: 2px solid rgba(0, 162, 255, 0.247);
  }

  .head_new span {
    font-size: 9px;
    color: grey;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .content__xx h5 {
    margin: 5px 0;
    font-size: 11px;
  }

  .content_new {
    display: grid;
    grid-template-columns: repeat(8, minmax(70px, 12%));
    width: 100%;
    margin: 15px 0;
    align-items: center;
  }

  .content_new span {
    font-size: 9px;
    color: rgb(102, 187, 106);
    width: 100%;
    font-weight: 400;
  }
}

/* media query < 1300 */

@media only screen and (max-width: 600px) {
  .head__box {
    transform: translateY(-90px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 9px;
    border-radius: 10px;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  }

  .head__box h3 {
    font-size: 13px;
    color: white;
    font-weight: bold;
  }

  .head__box .buttons {
    display: flex;
  }

  .btn {
    margin: 0 10px;
    padding: 5px 12px;
    outline: none;
    border: none;
    border: 5px;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .head_new {
    display: grid;
    grid-template-columns: repeat(8, minmax(60px, 12%));
    align-items: center;
    width: 100%;
    margin-top: 30px;
    border-bottom: 2px solid rgba(0, 162, 255, 0.247);
  }

  .head_new span {
    font-size: 6px;
    color: grey;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .content__xx h5 {
    margin: 5px 0;
    font-size: 11px;
  }

  .content_new {
    display: grid;
    grid-template-columns: repeat(8, minmax(60px, 12%));
    width: 100%;
    margin: 15px 0;
    align-items: center;
  }

  .content_new span {
    font-size: 6px;
    color: rgb(102, 187, 106);
    width: 100%;
    font-weight: 400;
  }

  .campaign select {
    padding: 7px;
    border: none;
    color: grey;
    border-radius: 6px;
    border: 1px solid grey;
    width: 130px;
    outline: none;
    font-size: 12px;
  }

  .campaign span {
    font-size: 12px;
  }
}
