.formmoal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10006666;
    background-color: rgba(0, 0, 0, 0.51);
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    transform: scale(0);
    padding: 10px 0;
    transition: .4s;
}

.at {
    transform: scale(1);
}

.formmoal .form {
    background-color: white;
    width: 600px;
    padding: 15px;
    max-width: 750px;
    border-radius: 5px;
    height: 94vh;
    overflow-y: scroll;
}

.formmoal .head h6{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.736);
}

.fields{
    display: flex;
    margin: 5px 0;
    flex-direction: column;
}

.field {
    margin: 5px 0;
}


.field label {
    display: block;
    font-size: 9px;
    padding: 0;
    color: rgb(42, 41, 41);
}

.field input {
    width: 100%;
    border: 1px solid grey;
    padding: 3px;
    border-radius: 5px;
    color: grey;
    font-size: 13px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex .field {
    width: 100%;
    margin: 9px 0;
}

.flex .field select {
    width: 100%;
    margin-right: 9px;
    border: none;
    border-radius: 5px;
    color: grey;
    font-size: 13px;
    border: 1px solid grey;
    outline: none;
    padding: 6px;
}

.field select {
    width: 100%;
    margin-right: 9px;
    border: none;
    border-radius: 5px;
    color: grey;
    font-size: 13px;
    border: 1px solid grey;
    outline: none;
    padding: 6px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}

.buttons button {
     margin: 5px 5px;
     padding: 5px 5px;
     background-color: rgb(79, 169, 83);
     color: white;
     border-radius: 5px;
}